ga4-automation/n8n-ga4-daily-sync-workflow.json
{
  "name": "GA4 Daily Sync - Every 12 Hours",
  "nodes": [
    {
      "parameters": {
        "mode": "everyX",
        "value": 12,
        "unit": "hours",
        "triggerAtHour": 6
      },
      "id": "cron-trigger",
      "name": "Every 12 Hours (6AM & 6PM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "python",
        "arguments": "ga4_sync.py",
        "workingDirectory": "C:\\Users\\USER\\marketing-ops-dashboard"
      },
      "id": "execute-ga4-sync",
      "name": "Execute GA4 Sync Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $node['Execute GA4 Sync Script'].json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Check Execution Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-message",
              "name": "message",
              "value": "✅ GA4 數據同步成功完成",
              "type": "string"
            },
            {
              "id": "success-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "success-status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "success-output",
              "name": "output",
              "value": "={{ $node['Execute GA4 Sync Script'].json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success-data",
      "name": "Success Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "message",
              "value": "❌ GA4 數據同步失敗",
              "type": "string"
            },
            {
              "id": "error-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "error-status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "error-details",
              "name": "error",
              "value": "={{ $node['Execute GA4 Sync Script'].json.stderr }}",
              "type": "string"
            },
            {
              "id": "exit-code",
              "name": "exitCode",
              "value": "={{ $node['Execute GA4 Sync Script'].json.exitCode }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "error-data",
      "name": "Error Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "content": "## GA4 同步執行報告\n\n**狀態**: {{ $json.status === 'success' ? '✅ 成功' : '❌ 失敗' }}\n**時間**: {{ $json.timestamp }}\n**訊息**: {{ $json.message }}\n\n{{ $json.status === 'success' ? '**輸出**:\\n```\\n' + $json.output + '\\n```' : '**錯誤詳情**:\\n```\\n' + $json.error + '\\n```\\n**退出代碼**: ' + $json.exitCode }}\n\n---\n*自動化 GA4 數據同步工作流程*",
        "options": {}
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 12 Hours (6AM & 6PM)": {
      "main": [
        [
          {
            "node": "Execute GA4 Sync Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute GA4 Sync Script": {
      "main": [
        [
          {
            "node": "Check Execution Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Execution Success": {
      "main": [
        [
          {
            "node": "Success Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Data": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Data": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ga4-daily-sync",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ga4-automation",
      "name": "GA4 Automation"
    }
  ]
} 